---
import Layout from '../layouts/Layout.astro';
import Link from '../components/Link.astro';
import Cards from '../components/Cards.astro';
import Canvas from '../components/Canvas.astro';
import Heading from '../components/Heading.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<Canvas />
		<Link href="https://github.com/nemutas/three-template" target="_blank" rel="noopener noreferrer">Github</Link>
		<Heading />
		<Cards class="cards" />
	</main>
</Layout>

<style lang="scss">
	main {
		position: relative;
		width: fit-content;
		width: 100%;
		height: 100%;
		display: grid;
		grid-template-columns: 50vw 1fr;
		align-items: center;
	}
	.cards {
		padding-right: 30px;
	}
</style>
