---
import Layout from '../layouts/Layout.astro';
import Link from '../components/Link.astro';
import Cards from '../components/Cards.astro';
import Canvas from '../components/Canvas.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<Canvas />
		<Cards class="cards" />
		<Link href="https://github.com/nemutas/three-template" target="_blank" rel="noopener noreferrer">Github</Link>
	</main>
</Layout>

<style>
	main {
		position: relative;
		width: 100%;
		height: 100%;
		display: grid;
		align-items: center;
	}
	.cards {
		margin-left: 50vw;
		padding-right: 30px;
	}
</style>
