<div class="heading">
  <div class="texts">
    <span>Using</span>
    <span style="margin-left: 7rem;">Astro</span>
    <span style="margin-left: 14rem;">Three.js</span>
    <span style="margin-left: 21rem;">Gsap</span>
  </div>
</div>

<style lang="scss">
  .heading {
    z-index: 10;
    position: relative;
    height: 100%;
    width: 100%;
    display: grid;
    place-items: center;
    clip-path: inset(0 2% 0 0);
  }
  .texts {
    & span {
      display: block;
      font-size: 7rem;
      line-height: 1;
      letter-spacing: 0.5rem;
      margin-bottom: 2.5rem;
    }
  }
</style>

<script>
  import gsap from 'gsap'
  import ScrollTrigger from 'gsap/ScrollTrigger'
  gsap.registerPlugin(ScrollTrigger)

  const texts = document.querySelectorAll('.heading > .texts > span')

  texts.forEach((text) => {
    ScrollTrigger.create({
      trigger: text,
      start: 'left left+=30',
      end: () => `+=${document.body.scrollWidth - text.getBoundingClientRect().x - text.getBoundingClientRect().width}`,
      horizontal: true,
      scrub: true,
      pin: true,
      pinSpacing: false,
      // markers: true,
    })
  })
</script>
